@charset 'utf-8';

body {
    font-family: 'Nunito-sans', 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.timer {
    font-size: 18px;
    font-weight: 600;
}

#left-div {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    position: fixed;
    border-radius: 5px;
}

#right-div {
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

#header-div {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

#center-div {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-div {
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
}

#start-button {
    border: solid 1px;
    border-color: #fff;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #4d4c4c;
}

#timer {
    color: #fff;
    text-align: center;
}

#score {
    color: #fff;
    text-align: center;
}

#type-word {
    width: 200px;
    height: 50px;
    background-color: rgb(116, 114, 114);
    opacity: 0.75;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

#input-word {
    background-color: rgb(116, 114, 114);
    opacity: 0.75;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
}

#game-over {
    color: #fff;
    text-align: center;
}

#final-points {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

#final-score {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

#try-again-btn {
    border-radius: 5px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    border: solid 1px;
    border-color: #fff;
}

#try-again-btn:hover {
    background-color: #4d4c4c;
}

.show {
    visibility: visible;
}

.hidden {
    visibility: collapse;
}

.gone {
    display: none;
}

.appear {
    display: block;
}

#score-div {
    background-color: aqua;
    color: #fff;
}